@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
  font-family: 'Inter', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root{
  --main-green: #0B7A24;
  --gray : #8C8C8C

}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

html{
  font-size: 13px;
}

ul{
  list-style: none;
}

button{
  cursor: pointer;
}

.dashboard{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.menu-btn{
  display: flex;
  flex-direction: column;
  gap: .3rem;
  width: 2.3rem;
  margin-left: 1rem;
  background-color: rgb(0, 0, 0,0);
  border: 0;
  outline: 0;
  justify-content: center;
}

.menu-btn span{
height: 2px;
width: 100%;
background-color: var(--main-green);
background-color: black;
}

.dashboard img{
  height: 5rem;
}

.dashboard h1{
  font-weight: 500;
  font-size: 4rem;
}

.dashboard h1 span{
  font-weight: 800;
  color: var(--main-green);
}

header{
  box-shadow: 20px 0 20px rgb(0, 0, 0,.1);
  z-index: 99;
  background-color: white;
  position: sticky;
  top: 0;
}

header > div{
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


header img{
  height: 3rem;
}

header form{
  display: flex;
  gap: 1rem;
  height: 3rem;
  flex-grow: 1;
  max-width: 30rem;
}

header form div{
  border: 1px solid var(--gray) ;
  display: flex;
  align-items: center;
  gap: .5rem;
  flex-grow: 1;
  padding: 0 1rem;
  border-radius: 5px;
}

header form button{
background-color: var(--main-green);
 border: 0;
outline: 0; 
padding: 0 1rem;
text-transform: uppercase;
color: white;
border-radius: 5px;
font-size: .8rem;
}

header input{
   border: 0;
  outline: 0; 
  width: 100%;
}


header input::placeholder{
  font-weight: 600;
}

header > img{
  height: 2.5rem;
}

header ul{
  display: none;
  gap: 2rem;
  list-style: none;
  font-size: .9rem;
  font-weight: 500;
}

header ul li{
  display: flex;
  align-items: center;
  gap: .4rem;
}

.hero{
  width: 100%;
  background-image: url('./assets/fruit-bg.png');
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.hero > section{
  display: grid;
  place-items: center;
  width: 100%;
  background-color: rgb(0, 0, 0,.5);
  padding: 1rem;
  height: 100%;
}



.hero > img{
  position: absolute;
  object-fit: contain;
}

.hero form{
  max-width: 550px;
  background-color: white;
  padding: 2rem;
  border-radius: .5rem;
}

.hero form h3{
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.hero form input{
  height: 3rem;
  padding: .5rem;
  width: 100%;
  border-radius: .3rem;
  border: none;
  outline: none;
}

.hero  form > input:nth-of-type(1){
  border: var(--main-green) 1.8px solid;
  margin: .7rem 0;
}

.hero  form > div{
  border: var(--main-green) 1.8px solid;
  border-radius: .3rem;
  display: flex;
  padding-right: .5rem;
  align-items: center;
}

.hero  form > div img{
  object-fit: contain;
  height: 1rem;
}

.hero form button{
  background-color: var(--main-green);
  width: 100%;
  margin-top: 1.5rem;
  height: 3rem;
  border: none;
  outline: none;
  color: white;
  font-weight: 700;
}


.how_it_works{
  padding: 5rem 1.5rem;
}

.how_it_works > div{
  display: flex ;
  gap: 1rem;
  flex-direction: column;
  text-align: center;
}

.how_it_works > article{
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  margin-top: 2rem;
}

.how_it_works > article > div{
  border: 1px #B1B1B1 solid ;
  border-radius: .5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.how_it_works > article > div  img{
  height: 13rem;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.how_it_works > article > div h4{
  font-size: 1.3rem;
  font-weight: 600;
  margin: 1rem 0;
}

.how_it_works > article > div p{
  color: #6C6C6C;
  font-size: .9rem;
}

.benefits {
  padding: 5rem 1.5rem;
  background-color:  #F4FFF7;
  ;
}

.benefits > section{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}



.benefits > section > article{
  width: 100%;
  padding: 2rem 0;
}

.benefits > section > div{
  position: relative;
  flex-grow: 1;
  height: 30rem;
}

.benefits > section > div > img{
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 10px;
} 


.benefits article h3{
  font-size: 1.8rem;
}

.benefits article img{
  height: 3rem;
}
.benefits ul{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}
.benefits article li{
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.1rem;
}

.products{
padding: 5rem 1.5rem;
}

.products h2{
  text-align: center;
}

.products  .swiper-pagination-bullet-active{
background-color: var(--main-green);
}

.products .swiper-wrapper{
  padding-bottom: 3rem;
}

.products article{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
}

.products article > div{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  border: 1px #B1B1B1 solid ;
  border-radius: .5rem;
  padding: 1rem;
}


.products article img{
  height: 10rem;
  object-fit: cover;
  width: 100%;
  border-radius: .5rem;
}

.products .type{
  text-transform: uppercase;
  font-size: .7rem;
}

.products .price span{
  font-weight: 800;
  color: var(--main-green);
  font-size: .9rem;
}


.customer_reviews{
  position: relative;
  overflow: hidden;
  height: 70rem;
  display: flex;
  justify-content: center;
  align-items: center;
}



.customer_reviews article{
  padding: 2rem 1rem;
}

.customer_reviews article > h3{
  font-size: 1.7rem;
  text-align: center;
}

.customer_reviews article > p{
  text-align: center;
  margin-top: .5rem;
}

.wave{
  height: 8rem;
}


.wave:nth-of-type(1){
  position: absolute;
  top: 0;
  transform: scaleX(2);
}

.rotate{
  transform: rotate(180deg) scaleX(2) ;
}

.wave:nth-of-type(2){
  position: absolute;
  bottom: 0;
}

.reviews{
display: grid;
grid-template-columns: 1fr;
gap: 2rem;
margin-top: 3rem;
}

.reviews > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.3rem;
  border: #B1B1B1 solid 1px;
  border-radius: 5px
}

.reviews h4{
  font-size: 1.3rem;
}

.reviews > div > div{
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.reviews img{
  height: 3rem;
}

.reviews p{
  color: #6C6C6C;
  font-size: .9rem;
}

.faq{
  background-color: #F4FFF7;
  padding: 5rem 1.5rem;
}

.faq > h3{
  font-size: 1.7rem;
  text-align: center;
}

.faq > p{
  text-align: center;
  margin-top: .5rem;
}

.faq > article{
  display:flex;
  flex-direction: column;
  align-items:center;
  margin-top: 3rem;
  gap:1rem;
}

.faq > article > div{
  width: 100%;
  max-width: 50rem;
  border-radius: 8px;
  padding: 1rem;
  border: #B1B1B1 1px solid;
  font-size: .9rem;
  color: var(--main-green);
  font-weight: 600;
}

.faq button{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .9rem;
  background-color: rgb(0, 0, 0,0);
  border: none;
  outline: none;
  color: var(--main-green);
  font-weight: 600;
  text-align: start;
}

/* .faq .dropdown{
  transition: ease-in-out 200ms;
} */

.faq .content p{
  margin: 1rem 0 0 0;
}

.faq .content{
  height: 0;
  overflow: hidden;
  transition: ease-in-out 200ms;
}

.faq .dropdown.show .content{
  height: 100%;
}

.get_started{
  padding: 5rem 1.5rem;
}

.get_started > article{
  background-color: #115400;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  border-radius: 10px;
}

.get_started > article > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 35rem;
  text-align: center;
  color: white;
}

.get_started h4{
  font-size: 2rem;
}

.get_started img{
  max-height: 20rem;
}

.get_started button{
  align-self: center;
  border: 0;
  outline: 0;
  padding: .7rem 1.5rem;
  border: white solid 1px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0,0);
  color: white;
  margin-top: 1rem;
  font-weight: 600;
}

footer{
  margin-top: 3rem;
  padding: 1.5rem;
}

footer > section > img{
  flex-grow: 1;
  object-fit: contain;
 height: 5rem;
 object-position: left;
}

footer > section:nth-of-type(1){
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer > section:nth-of-type(1) h5{
 font-size: 1.9rem;
 color: #6C6C6C;
}




footer form{
display: flex;
gap: 1rem;
flex-grow: 1;
height: 3rem;
}


footer input{
  width: 100%;
  padding: .6rem 1rem;
  border-radius: 5px;
  outline: 0;
  border: 1px solid var(--main-green);
}

footer input::placeholder{
  color: var(--main-green);
}

footer button{
  padding: .6rem 1rem;
  border: 0;
  outline: 0;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  background-color: var(--main-green);
}

footer > section:nth-of-type(2){
  display: flex;
  padding: 3rem 0;
  flex-direction: column;
  border-bottom: 1px solid #6C6C6C;
  border-top: 1px solid #6C6C6C;
  gap: 2rem;
  margin-top: 1rem;
}

.list_section{
display: flex;
flex-direction: column;
gap: 3rem;
}

.list_section h6{
  font-size: 1rem;
  font-weight: 600;
  color: var(--main-green);
}

.list_section ul{
  font-size: 1rem;
  color: #626262;
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.socials li{
  display: flex;
  gap: .5rem;
  align-items: center;
}

.copyright{
  font-size: .8rem;
  font-weight: 600;
  margin: 1rem 0;
}

#searchText{
  display: none;
}

#searchIcon{
  display: block;
}

@media(min-width:640px) and (max-width:1023px){
  html{
    font-size: 15px;
  }

  
}

@media(min-width: 1024px){
  html{
    font-size: 17px;
  }

  header ul{
  display: flex;
  }

  #searchText{
    display: block;
  }
  
  #searchIcon{
    display: none;
  }

  header > div{
    gap: 4rem;
  }

  .how_it_works > article{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .products article{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
  }

  .benefits > section{
    flex-direction: row;
  }
  
  
  
  .benefits > section > article{
    width: 50%;
  }
  
  .benefits > section > div{
    height: auto
  }

  .reviews{
    grid-template-columns: 1fr 1fr 1fr;
    }

    .customer_reviews{
      height: 45rem;
    }

    .get_started > article{
      flex-direction: row;
    }

    footer > section:nth-of-type(1){
      align-items: center;
      flex-direction: row;
    }


footer > section:nth-of-type(1) h5{
  max-width: 60%;
 }

 footer > section:nth-of-type(2){
  flex-direction: row;
}

.list_section{
flex-direction: row;
}

.menu-btn{
  display: none;
}
 
 


}
